body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(  https://media1.giphy.com/media/9bH9J3YmD6KmllcTQ1/giphy.gif?cid=6c09b952vqvjiuzclzfn7ihz0ms3zwp8cinz75z2m41v2baw&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-repeat: no-repeat; 
    object-fit: contain;
    background-size: cover;
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
